.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.loginLogo {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 300px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
}

.loginContainer > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.loginContainer > form > h5 {
  margin-bottom: 5px;
}

.loginContainer > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.loginContainer > p {
  margin-top: 15px;
  font-size: 12px;
}

.loginSignInButton {
  background-color: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  color: #111;
  border-color: #a88734 #9c7e31 #846a29;
}

.loginRegisterButton {
  width: 100%;
  height: 30px;
  border: 1px solid;
  border-color: darkgray;
  border-radius: 2px;
  margin-top: 10px;
}
